
@model Masjid.Services.HomeService

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Masjid</title>

    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />

    <script defer src="./js/brands.js"></script>
    <script defer src="./js/solid.js"></script>
    <script defer src="./js/fontawesome.js"></script>

</head>
<body>
    <header class="mb-1">
        <nav class="bg-success d-flex justify-content-between">
            <div class="prof-container text-center pl-1">
                <div class="prof text-center">
                    <img src="~/img/Allah.jfif"
                         alt=""
                         class="img-thumbnail rounded-circle d-md-block d-flex justify-content-end" />
                </div>
                <h7 class="salam">Peace Be Upon You</h7>
            </div>


            <div class="row ">
                <div class="col ">
                    <div class="title ">
                        <h3 class="strong  d-flex justify-content-center masjid-name">
                            @Model.GetProfile.InstitutionName
                        </h3>
                        <div class="prayer-time d-flex pl-4">
                            <div class="fajr mx-1">
                                <a href="#" class="d-flex">
                                    <i class="fas fa-clock fa-1x text-dark mb-0"></i>
                                    <h5 style="font-size: 15px" class="text-white font-italic mb-0">
                                        Fajr
                                    </h5>
                                </a>
                                <h5 style="font-size: 15px" class="text-white font-italic mt-0">
                                    @Model.GetPrayerTime.Asr
                                </h5>
                            </div>

                            <div class="fajr mx-1">
                                <a href="#" class="d-flex">
                                    <i class="fas fa-clock fa-1x text-dark mb-0"></i>
                                    <h5 style="font-size: 15px" class="text-white font-italic mb-0">
                                        Dhur
                                    </h5>
                                </a>
                                <h5 style="font-size: 15px" class="text-white font-italic mt-0">
                                    @Model.GetPrayerTime.Dhur
                                </h5>
                            </div>
                            <div class="fajr mx-1">
                                <a href="#" class="d-flex">
                                    <i class="fas fa-clock fa-1x text-dark mb-0"></i>
                                    <h5 style="font-size: 15px" class="text-white font-italic mb-0">
                                        Asr
                                    </h5>
                                </a>
                                <h5 style="font-size: 15px" class="text-white font-italic mt-0">
                                    @Model.GetPrayerTime.Asr
                                </h5>
                            </div>
                            <div class="fajr mx-1">
                                <a href="#" class="d-flex">
                                    <i class="fas fa-clock fa-1x text-dark mb-0"></i>
                                    <h5 style="font-size: 15px" class="text-white font-italic mb-0">
                                        Maghrib
                                    </h5>
                                </a>
                                <h5 style="font-size: 15px" class="text-white font-italic mt-0">
                                    @Model.GetPrayerTime.Maghrib
                                </h5>
                            </div>
                            <div class="fajr mx-2">
                                <a href="#" class="d-flex">
                                    <i class="fas fa-clock fa-1x text-dark mb-0"></i>
                                    <h5 style="font-size: 15px" class="text-white font-italic mb-0">
                                        Ishaa
                                    </h5>
                                </a>
                                <h5 style="font-size: 15px" class="text-white font-italic mt-0">
                                    @Model.GetPrayerTime.Isha
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prof-container text-center">
                <div class="prof">
                    <img src="~/img/sheikh.jfif"
                         alt=""
                         class="img-thumbnail rounded-circle d-md-block" />
                </div>
                <a class="" asp-area="" asp-controller="Profile" asp-action="Create"><h7 class="imam-nav-name"><u>Imam  @Model.GetProfile.LastName</u></h7></a>

            </div>
        </nav>
    </header>

    <!-- Menu Beginning -->
    <section class="d-flex justify-content-between ">
        <div class="menu col-lg-3 p-0" style="max-height: 80vh">
            <div class="card bg-color">
                <div class="card-header bg-primary text-white text-uppercase text-center py-3">
                    <h5>Our Community</h5>
                </div>

                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item" style="background-color: aliceblue">
                        <a href="#" class="btn font-italic">
                            <u>After-School Program</u>
                        </a>
                    </li>
                    <li class="list-group-item" style="background-color: aliceblue">
                        <a href="#" class="btn font-italic"><u>Islamic Classes</u></a>
                    </li>
                    <li class="list-group-item" style="background-color: aliceblue">
                        <a href="#" class="btn font-italic"><u>Youth Program</u></a>
                    </li>
                    <li class="list-group-item" style="background-color: aliceblue">
                        <a href="#" class="btn font-italic"><u>Events</u></a>
                    </li>
                    <li class="list-group-item" style="background-color:gold"><a href="#" class="btn font-italic "><u>Zaakat al-Mutr</u></a></li>
                </ul>
                <div class="card-footer p-0">
                    <button type="submit"
                            class="btn btn-outline-dark btn-block btn-lg text-uppercase glow ">
                        Donate
                    </button>
                </div>
            </div>
        </div>
        <!-- Menu End -->
        <!-- Feed beginning -->
        <div>
            @RenderBody()
        </div>

        <!-- Feed end -->
        <!-- Hadith Beginning -->
        <div class="hadith col-lg-3 p-0">
            <section id="review"
                     class="card"
                     style="min-height: 80vh; background-color: aliceblue">
                <div class="container">
                    <div class="row">
                        <div class="col text-center pt-3">
                            <h1 class="text-capitalize text-dark mb-8"
                                style="font-size: large">
                                <strong><u>Hadith of the day</u></strong>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="my-4 px-2">
                            <blockquote class="blockquote text-right">
                                <p class="font-italic">
                                    <i class="fas fa-quote-left fa-1x mr-3"></i> Allah's
                                    Messenger (ﷺ) (p.b.u.h) said, "The taking of a bath on
                                    Friday is compulsory for every male (Muslim) who has
                                    attained the age of puberty."<i class="fas fa-quote-right fa-1x ml-3"></i>
                                </p>
                                <footer class="blockquote-footer text-left">
                                    Narrated Abu Sa`id Al-Khudri:
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Hadith End -->
    </section>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Masjid - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
    <script src="~js/bootstrap.bundle.min.js"></script>

</body>
</html>



















<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
