@model Masjid.Services.HomeService


<!DOCTYPE html>
<html lang="en">
@{
    Layout = "_Layout";
}


@{
    var ListOfProg = Model.GetAftSchoolPrograms;
}
<div>
   @foreach(var prog in ListOfProg){

    <form class="mb-2">
                    <div class="card bg-light">
                        <img class="card-img-top" src="/img/Daycare1.jpg" alt="Card image cap"><img/>
                        <div class="card-body">
                          <h5 class="card-title">@prog.AftSchoolProgramTitle</h5>
                          <p class="card-text">@prog.AftSchoolProgramDesc</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item bg-light"> <h6 class="youth-card">Guest: <u>@prog.AftSchoolProgramGuest</u></h6></li>
                          <li class="list-group-item bg-light"><h6 class="youth-card">Price: <span class="  imam-nav-name ">@prog.AftSchoolProgramPrice</span></h6></li>
                          <li class="list-group-item bg-light"><h6 class="youth-card">Time: <span class="  imam-nav-name ">@prog.AftSchoolProgramTime</span></h6></li>
                            <li class="list-group-item bg-light"><h6 class="youth-card">Place: <span class="  imam-nav-name "> @prog.AftSchoolProgramPlace</span></h6></li>
                        </ul>
                        <div class="card-body">
                          <a asp-controller="RegistrationForm" asp-action="index" class="card-link btn btn-warning">Register</a>
                    <a id="btnDelete" class="card-link btn btn-danger" onclick="remov(@prog.AftSchoolProgramId)">Delete</a>
                        </div>
                      </div>
  </form>
}
</div>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    
     </script>

    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
    </script>


<script type="text/javascript">
    $(document).ready(function () {

    });

    function remov(id) {

        $.ajax(
            {
                type: "DELETE",
                url: "/api/AftSchlProgram/" + id,
                success: function () {
                    alert("Great");
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("pas bon");
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });

    };


</script>
</html>