@model Masjid.Services.HomeService

@{
    Layout = "_Layout";
}

@foreach(var prog in Model.GetIslamicClassess){
<form class="mb-2">
    <div class="card bg-light" style="min-height: 80vh">
        <img class="card-img-top" src="/img/Islamicclass.jpeg" alt="Card image cap">
        <div class="card-body ">
            <h5 class="card-title islamicClass">
                <u>@prog.ClassTitle</u>
                <h6 class="islamicClass">Guest: <span class="  imam-nav-name "><u>@prog.IslamicClassGuest</u></span></h6>
            </h5>
            <h6 class="islamicClass">
                Time & Place: <span class="  imam-nav-name ">
                    @prog.IslamicClassTime_Place
                </span>
            </h6>
            
            <p class="card-text">
                @prog.ClassDescription
            </p>
                <button type="submit" class="btn btn-danger mb-4" style=" font-size: 10px;" onclick="remov(@prog.IslamicClasseId)">Delete</button>
        </div>
    </div>
</form>
}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>


<script type="text/javascript">
    $(document).ready(function () {

    });

    function remov(id) {

        $.ajax(
            {
                type: "DELETE",
                url: "/api/IslamicClass/" + id,
                success: function () {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });

    };


</script>